.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 307px;
  height: 229px;
  border: 1px solid #00000040;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 0;

  p {
    margin: 0;
  }

  .card-title {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #dfeeeb;
    border-radius: 14px 14px 0 0;
    height: 40px;
  }

  .logo {
    width: 17px;
    height: 17px;
    margin-left: 23px;
  }

  .title {
    margin-left: 5px;
    font-size: 14px;
  }

  .mat-divider {
    border-color: #00000040;
  }
}
